<header>

  
  <nav class="navbar navbar-expand-md bg-dark navbar-dark"> 
    <a class="navbar-brand" href="#" routerLink="/">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav  mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/list">Brewery</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/request">RequestGitUser</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/lazy">Lazy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/lazy2">Lazy2</a>
        </li>
      </ul>
      <a class="nav-link" href="#" routerLink="/request">
        <i class="fas fa-sign-out-alt"></i>
        Log out
      </a>
    </div>
  </nav>

<!--   <mat-sidenav-container>
      <mat-sidenav>Sidenav</mat-sidenav>
      <mat-sidenav-content>Agents</mat-sidenav-content>
    </mat-sidenav-container>
</header> -->

<div class="container">
  <router-outlet></router-outlet>
</div>